<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/logoUTN.png">
    <link rel="stylesheet" href="/css/cargarDatosEntidades.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Abrir Incidente</title>
</head>
<body style="margin: 0 ; padding: 0 ; text-align: center ; background-image: url('/img/subte2.jpg') ; background-size: cover">
<header style="background-color: rgba(255,255,255,0.5) ; text-align: left ; display: flex; flex-direction: row">
    <img src="/img/logoUTN.png" alt="Imagen en color" style="height: 90px; text-align: left"></img>
    <div style="display: flex; align-items: center; justify-content: right; flex: 1;">
        <div class="config" style="align-items: center; align-content: center; justify-content: center">
            <div style="flex: 1; width: 30%; padding: 10px;">
                <i id="icono-usuario" class="fa fa-user" aria-hidden="true" style="color: #4300d2"></i>
            </div>
            <div style="flex: 1; width: 70%; padding: 10px;">
                <select class="seleccion" id="opciones" name="opciones" style="color: #4300d2">
                    <option class="opcion" value=""></option>
                    <option class="opcion" value="mi-cuenta-CL" onclick="redireccionar(value)">Mi cuenta CL</option>
                    <option class="opcion" value="mi-cuenta-CP" onclick="redireccionar(value)">Mi cuenta CP</option>
                    <option class="opcion" value="cerrar-sesion">Cerrar sesión</option>
                </select>
            </div>
        </div>
    </div>
</header>
<div id="app" class="contenedorColumna" style="background: rgba(255,255,255,0.5)">
    <div class="columna1" style="background: none; margin-right: 0; margin-left: 0; height: 100px; margin-top: 20px">
        <div class="contenedorColumna1" style="margin-right: 0; margin-left: 0">
            <a class="referencia" href="/cargarDatosEntidades">Cargar entidades</a>
            <a class="referencia" href="/abrirIncidente">Abrir Incidente</a>
            <a class="referencia" href="/cerrarIncidente">Cerrar Incidente</a>
            <a class="referencia" href="/consultaIncidentesPorEstado">Consultar Incidente</a>
            <a class="referencia" href="/sugerenciaIncidente">Sugerencia Incidente</a>
            <a class="referencia" href="/rankingsCL">Rankings CL</a>
            <a class="referencia" href="/rankingsCP">Rankings CP</a>
        </div>
    </div>
    <div class="columna2" style="margin-left: 0; margin-right: 0; background: none; height: 485px; justify-content: center; align-items: center;text-align: center;">
        <div class="opciones">
            <div style="text-align: start">
                <label class="label" >Selecciona entidad:</label>
            </div>
            <table style="width: 100%; margin-top: 10px">
                <tbody>
                    <tr v-for="entidad in entidades" :key="entidad.id" @click="seleccionarEntidad(entidad)">
                        <td class="list">
                                <li style="text-align: start; justify-content: left">
                                    <span v-text="entidad.nombre" class="span"></span>
                                </li>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 20px"></div>
        <div class="opciones">
            <div style="text-align: start">
                <label class="label" for="selectEstablecimiento">Selecciona establecimiento:</label>
            </div>
            <!-- <select class="input" id="selectEstablecimiento" v-model="establecimientoSeleccionado">
                <option v-for="establecimiento in establecimientosFiltrados" :value="establecimiento">{{ establecimiento.nombre }}</option>
            </select>
            -->
            <ul style="width: 100%; margin-top: 10px">
                <li style="text-align: start; justify-content: left" v-for="establecimiento in establecimientos" :key="establecimiento.id" @click="seleccionarEstablecimiento(establecimiento)">
                    <span v-text="establecimiento.nombre" class="span"></span>
                </li>
            </ul>
        </div>
        <div style="height: 20px"></div>
        <div class="opciones">
            <div style="text-align: start">
                <label class="label" for="selectMonitoreable">Selecciona un Servicio:</label>
            </div>
            <!--
            <select class="input" id="selectMonitoreable" v-model="servicioSeleccionado">
                <option v-for="servicio in servicios" :value="servicio">{{ servicio.nombre }}</option>
            </select>
            -->
            <ul style="width: 100%; margin-top: 10px">
                <li style="text-align: start; justify-content: left" v-for="servicio in servicios" :key="servicio.id">
                    <span class="span" v-text="servicio.tipoDeServicio" @click="seleccionarServicio(servicio)"></span>
                </li>
            </ul>
        </div>
        <div class="opciones">
            <label class="label">Descripcion</label>
            <input class="input" v-model="descripcion" placeholder="Ingrese descripción">
        </div>
        <button class="botonAbrir" style="height: 420px" @click="guardarIncidente">Abrir</button>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>

    document.getElementById('opciones').addEventListener('change', function() {
        var selectedValue = this.value;

        // Redirigir según la opción seleccionada
        switch (selectedValue) {
            case 'mi-cuenta-CL':
                window.location.href = '/miCuentaCL';
                break;
            case 'mi-cuenta-CP':
                window.location.href = '/miCuentaCP';
                break;
            case 'cerrar-sesion':
                window.location.href = '/paginaInicio';
                break;
                // Puedes agregar más casos según sea necesario
            default:
                break;
        }
    });



    new Vue({
        el: '#app',
        data: {
            entidadSeleccionada: null,//el id
            entidades: [], //   cargar las e
            establecimientos: [],
            establecimientosFiltrados:[] ,
            establecimientoSeleccionado: '',
            servicios: [],
            serviciosFiltrados:[],
            servicioSeleccionado: '',
            descripcion: '',
            idUsuario:'',
        },
        computed: {

        },
        methods: {
            seleccionarServicio(servicioId){
                this.servicioSeleccionado = servicioId;
            },
            seleccionarEntidad(entidadId) {
                this.entidadSeleccionada = entidadId; // Actualiza la entidad seleccionada
                this.actualizarEstablecimientos(); // Carga los establecimientos relacionados con la entidad seleccionada
                establecimientosFiltrados = this.establecimientosFiltrados();
            },
            seleccionarEstablecimiento(establecimientoId) {
                this.establecimientoSeleccionado = establecimientoId;
                this.actualizarServicios2();
                this.serviciosFiltrados=this.serviciosFiltrados();//agregado
            },
            establecimientosFiltrados() {
                return this.establecimientos.filter(establecimiento => establecimiento.entidad.nombre === this.entidadSeleccionada.nombre);

                },

            serviciosFiltrados() {
                console.log("entre a filtrar");
                return this.servicios.filter(servicio => servicio.establecimiento === this.establecimientoSeleccionado);
            },

            actualizarEstablecimientos() {
                // Hacer un fetch para obtener los establecimientos de la entidad seleccionada
                fetch(`http://localhost:8080/api/entidades/${this.entidadSeleccionada.id}/establecimientos`)
                        .then(response => response.json())
                        .then(establecimientos => {
                            console.log(establecimientos);
                            this.establecimientos = establecimientos;
                            this.establecimientoSeleccionado = ''; // Resetear la selección
                            this.servicios = []; // Resetear la lista de servicios
                        })
                        .catch(error => {
                            console.error('Error en la solicitud de los establecimientos:', error);
                            alert(`Hubo un error en la solicitud al buscar los establecimientos:\n\n${error.message}`);
                        });


            },
            actualizarServicios() {//trae todo los servicios luego los filtro
                // Hacer un fetch para obtener los servicios del establecimiento seleccionado
                fetch(`http://localhost:8080/api/servicios`)
                        .then(response => response.json())
                        .then(servicios => {
                            console.log(servicios);
                            this.servicios = servicios;
                        })
                        .catch(error => {
                            console.error('Error en la solicitud de los servicios:', error);
                            alert(`Hubo un error en la solicitud al buscar los servicios:\n\n${error.message}`);
                        });
            },
            actualizarServicios2() {//trae todo los servicios luego los filtro
                // Hacer un fetch para obtener los servicios del establecimiento seleccionado
                fetch(`http://localhost:8080/api/establecimientos/${this.establecimientoSeleccionado.id}/servicios`)
                        .then(response => response.json())
                        .then(servicios => {
                            console.log(servicios);
                            this.servicios = servicios;
                        })
                        .catch(error => {
                            console.error('Error en la solicitud de los servicios:', error);
                            alert(`Hubo un error en la solicitud al buscar los servicios:\n\n${error.message}`);
                        });
            },
            guardarIncidente() {
                // Enviar los datos al servidor (puedes usar fetch o axios)
                const incidente = {
                   // entidad: this.entidadSeleccionada,
                    //establecimiento: this.establecimientoSeleccionado
                    //usuarioCreador: {"id":1,"nombre":"Santi","apellido":"Blanco","email":"santi@gmail.com","horarioDeNotificacion":null,"tipoDeNotificacion":null,"frecuenciaNotificacion":null,"empresaDeInteres":null},
                    usuarioCreador: this.usuario,
                    servicio: this.servicioSeleccionado,
                    descripcion: this.descripcion
                };
                console.log('Incidente creado con éxito 1:', incidente);
                fetch(`http://localhost:8080/api/incidentes`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(incidente),
                })
                        .then(response => response.json())
                        .then(data => {
                            //console.log('Incidente creado con éxito 2:', data);
                            // Aquí podrías redirigir o realizar otras acciones después de crear el incidente
                        })
                        .catch((error) => {
                            //console.error('Error al crear el incidente:', error);
                        });
            },
            obtenerEntidades() {
                fetch(`http://localhost:8080/api/entidades`)
                        .then(response => {
                            if (response.status >= 400) {
                                alert("Hubo un error en el API")
                            } else {
                                return response.json()
                            }
                        })
                        .then(entidades => {
                            console.log(entidades);
                            console.log(entidades[0].nombre);
                            // entidades.forEach(entidad);
                            // const nombresEntidades = entidades.map(entidad => entidad.nombre);
                            this.entidades = entidades;
                        })
                        .catch(error => {
                            console.error('Error en la solicitud:', error);
                            alert(`Hubo un error en la solicitud con fetch entidades:\n\n${error.message}`);
                        });
            }
        },
        mounted() {
            fetch(`/api/obtenerUsuario`)//ya hay un get parecido en CL
                    .then(response => {
                        if (response.status >= 400) {
                            alert("Hubo un error en el API")
                        } else {
                            return response.json()
                        }
                    })
                    .then(usuario => {
                        console.log("el usuario que devuelve es: ", usuario); // Verificar en la consola
                        this.usuario = usuario;

                        //OBTENER EL ID REAL
                        this.obtenerEntidades();
                    })
                    .catch(error => {
                        console.error('Error en la solicitud de get usuario:', error);
                        alert(`Hubo un error en la solicitud al buscar el usuario:\n\n${error.message}`);
                    });

        }
    });
</script>
</body>
</html>