<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/img/logoUTN.png">
    <link rel="stylesheet" href="/css/rankings.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comunidades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--<link rel="stylesheet" href="../public/css/estilos.css">-->
</head>
<body style="margin: 0 ; padding: 0 ; text-align: center ; background-image: url('/img/subte2.jpg') ; background-size: cover">
<header style="background-color: rgba(255,255,255,0.5) ; text-align: left ; display: flex; flex-direction: row">
    <img class= "logoUTN"src="img/logoUTN.png" alt="Imagen en color" style=" text-align: left"></img>
    <div style="align-items: center; flex: 1; text-align: right; margin-top: 20px;">
        <a class="boton" href="pagina-inicio.html" style="text-decoration: none; background-color: #4300d2; color: #ffffff;" onmouseover="this.style.backgroundColor='rgba(255,255,255,0.5)'; this.style.color='#4300d2'" onmouseout="this.style.backgroundColor='#4300d2'; this.style.color='#fff'">Cerrar Sesión</a>
        <!--<a class="botonMenu" href="pagina-principal.html" style="text-decoration: none; background-color: #4300d2; color: #ffffff;" onmouseover="this.style.backgroundColor='rgba(255,255,255,0.5)'; this.style.color='#4300d2'" onmouseout="this.style.backgroundColor='#4300d2'; this.style.color='#fff'">Volver al menu</a>-->
        <h1 class="titulo">Comunidades</h1>
    </div>
</header>
<div id="content" style="background-color:rgba(255,255,255,0.5); height: 638px; display: flex; flex-direction: column;">
    <div class="container mt-4" style="align-items: center; justify-content: center; place-items: center">

        <div class="opciones" style="align-items: center; justify-content: center; align-self: center; width: 100%">
            <table class="table table-striped table-hover" style="background: none">
                <tr style="background: none">
                    <th style="background: rgba(101,101,101,0.66)">ID</th>
                    <th style="background: rgba(101,101,101,0.66)">NOMBRE</th>
                    <th style="background: rgba(101,101,101,0.66)"></th>
                    <!--<th>Cant. Tareas</th>
                    <th>Acciones</th> -->
                </tr>
                <tbody>
                {{#each comunidadesPorUsuario}}
                    <tr style="background: none">
                        <td style="background: rgba(255,255,255,0.74)">{{ this.id }}</td>
                        <td style="background: rgba(255,255,255,0.74)">{{ this.nombre }}</td>
                        <td>
                            <button class="boton">Cambiar rol</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <!--
        <div align="center">
            <a class="btn btn-primary" href="/servicios/crear">Agregar Servicio</a>
        </div> -->

    </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
<script src="/js/generales.js"></script>
</body>
</html>
