<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/logoUTN.png">
    <link rel="stylesheet" href="/css/miCuenta.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Mi cuenta</title>
</head>
<body style="margin: 0 ; padding: 0 ; text-align: center ; background-image: url('/img/subte2.jpg') ; background-size: cover">
<header style="background-color: rgba(255,255,255,0.5) ; text-align: left ; display: flex; flex-direction: row">
    <img src="/img/logoUTN.png" alt="Imagen en color" style="height: 90px; text-align: left"></img>

    <div style="display: flex; align-items: center; justify-content: right; flex: 1;">
        <div class="config" style="align-items: center; align-content: center; justify-content: center">
            <div style="flex: 1; width: 30%; padding: 10px;">
                <i id="icono-usuario" class="fa fa-user" aria-hidden="true" style="color: #4300d2"></i>
            </div>
            <div style="flex: 1; width: 70%; padding: 10px;">
                <select class="seleccion" id="opciones" name="opciones" style="color: #4300d2">
                    <option class="opcion" value=""></option>
                    <option class="opcion" value="mi-cuenta-CL" onclick="redireccionar(value)">Mi cuenta CL</option>
                    <option class="opcion" value="mi-cuenta-CP" onclick="redireccionar(value)">Mi cuenta CP</option>
                    <option class="opcion" value="cerrar-sesion">Cerrar sesión</option>
                </select>
            </div>
        </div>
    </div>
</header>

<div class="contenedorColumna" style="background: rgba(255,255,255,0.5)">
    <div class="columna1" style="background: none; margin-right: 0; margin-left: 0; height: 100px; margin-top: 20px">
        <div class="contenedorColumna1" style="margin-right: 0; margin-left: 0">
            <a class="referencia" href="/cargarDatosEntidades">Cargar entidades</a>
            <a class="referencia" href="/abrirIncidente">Abrir Incidente</a>
            <a class="referencia" href="/cerrarIncidente">Cerrar Incidente</a>
            <a class="referencia" href="/consultaIncidentesPorEstado">Consultar Incidente</a>
            <a class="referencia" href="/sugerenciaIncidente">Sugerencia Incidente</a>
            <a class="referencia" href="/rankingsCL">Rankings CL</a>
            <a class="referencia" href="/rankingsCP">Rankings CP</a>
        </div>
    </div>
    <div class="columna2" style="margin-right: 30%; margin-left: 30%; background: none; height: 485px; place-items: center;align-items: center; align-content: center; justify-content: center; display: flex; flex-direction: column;">

        <!--
        <div class="miCuenta" style="background: none; place-items: center;align-items: center; justify-content: center">
            <img src="/img/usuarioSinFoto.png" alt="Imagen no disponible" width=80px height=80px>
        </div>
        <div class="miCuentaContenedor" style="background-color: rgba(255,255,255,0.5);">

            <p class="label2" style="margin-bottom: 0">NOMBRE</p>
            <p id="label-nombre" class="label3" style="margin-top: 0"></p>
            <input type="text" id="edit-name" style="display: none">

            <p class="label2" style="margin-bottom: 0">APELLIDO</p>
            <p id="label-apellido" class="label3" style="margin-top: 0">{{ miCuenta.apellido }}</p>
            <input type="text" id="edit-lastname" style="display: none">

            <p class="label2" style="margin-bottom: 0">CORREO ELECTRÓNICO</p>
            <p id="label-correo" class="label3" style="margin-top: 0">{{ miCuenta.email }}</p>

            <p class="label2" style="margin-bottom: 0">TELÉFONO</p>
            <p id="label-telefono" class="label3" style="margin-top: 0">Teléfono</p>


        </div>
        <button id="boton-editar" class="boton" onclick="editarPerfil()">Editar perfil</button>
        <button id="boton-guardar" class="boton" onclick="actualizarPerfil()" style="display: none">Guardar</button>

        <form method="POST" action="/comunidadesPorUsuario">
            <button class="referencia">Ver comunidades</button>
        </form>
        -->

        <form method="POST" action="/miCuentaDatos">
            <button class="referencia">Obtener datos</button>
        </form>

    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyCqXg0sZXtSOxHPEjkKKS0S4jdHER1z-VU",
        authDomain: "dds-sistema-monitoreables.firebaseapp.com",
        projectId: "dds-sistema-monitoreables",
        storageBucket: "dds-sistema-monitoreables.appspot.com",
        messagingSenderId: "625925036616",
        appId: "1:625925036616:web:8a61a46d81a4c752b9167d"
    };
    firebase.initializeApp(firebaseConfig);
    const user = JSON.parse(localStorage.getItem('user'));
    if(user){


    }else{
        alert("Sucedio un error por favor vuelva a iniciar sesion");//ver si lo mandamos a index o que hacemos
        console.log("el usuario no existe");
    }

    function editarPerfil() {
        // Obtener referencias a los elementos HTML
        const userNameLabel = document.getElementById("label-nombre");
        const userLastnameLabel = document.getElementById("label-apellido");
        const editNameInput = document.getElementById("edit-name");
        const editLastnameInput = document.getElementById("edit-lastname");
        const botonEditar = document.getElementById("boton-editar");
        const botonGuardar = document.getElementById("boton-guardar");
        // Obtener datos actuales del usuario
        const userName = userNameLabel.textContent;
        const userLastname = userLastnameLabel.textContent;

        // Mostrar campos editables y ocultar labels
        editNameInput.style.display = "block";
        editLastnameInput.style.display = "block";
        botonGuardar.style.display = "block";
        botonEditar.style.display = "none";
        userNameLabel.style.display = "none";
        userLastnameLabel.style.display = "none";

        // Mostrar los datos actuales en los campos editables
        editNameInput.value = userName;
        editLastnameInput.value = userLastname;
    }
    function actualizarPerfil() {
        const userNameLabel = document.getElementById("label-nombre");
        const userLastnameLabel = document.getElementById("label-apellido");
        const editNameInput = document.getElementById("edit-name");
        const editLastnameInput = document.getElementById("edit-lastname");
        const botonEditar = document.getElementById("boton-editar");
        const botonGuardar = document.getElementById("boton-guardar");

        const userName = editNameInput.value;
        const userLastname = editLastnameInput.value;

        console.log(userName);
        console.log(userLastname);

        // Actualizar labels con los nuevos valores
        userNameLabel.textContent = userName || "Nombre no disponible";
        userLastnameLabel.textContent = userLastname || "Apellido no disponible";

        // Ocultar inputs y mostrar labels
        editNameInput.style.display = "none";
        editLastnameInput.style.display = "none";
        botonGuardar.style.display = "none";
        botonEditar.style.display = "block";
        userNameLabel.style.display = "block";
        userLastnameLabel.style.display = "block";

        userNameLabel.style.textAlign = "left";
        userLastnameLabel.style.textAlign = "left";

    }

</script>
</body>
</html>