<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/logoUTN.png">
    <link rel="stylesheet" href="/css/rankings.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Rankings</title>
</head>
<body style="margin: 0 ; padding: 0 ; text-align: center ; background-image: url('/img/subte2.jpg') ; background-size: cover">
<header style="background-color: rgba(255,255,255,0.5) ; text-align: left ; display: flex; flex-direction: row">
    <img class= "logoUTN"src="img/logoUTN.png" alt="Imagen en color" style=" text-align: left"></img>
    <div style="align-items: center; flex: 1; text-align: right; margin-top: 20px;">
        <a class="boton" href="pagina-inicio.html" style="text-decoration: none; background-color: #4300d2; color: #ffffff;" onmouseover="this.style.backgroundColor='rgba(255,255,255,0.5)'; this.style.color='#4300d2'" onmouseout="this.style.backgroundColor='#4300d2'; this.style.color='#fff'">Cerrar Sesión</a>
        <!--<a class="botonMenu" href="pagina-principal.html" style="text-decoration: none; background-color: #4300d2; color: #ffffff;" onmouseover="this.style.backgroundColor='rgba(255,255,255,0.5)'; this.style.color='#4300d2'" onmouseout="this.style.backgroundColor='#4300d2'; this.style.color='#fff'">Volver al menu</a>-->
        <h1 class="titulo">Rankings</h1>
    </div>
</header>

<div class="contenedorColumna" style="background: rgba(255,255,255,0.5)">
    <div class="columna1" style="background: none">
        <div class="contenedorColumna1">
            <a class="referencia" href="cargar-datos-entidades.html">Cargar datos Entidades y Organismos</a>
            <a class="referencia" href="abrir-incidente.html">Abrir Incidente</a>
            <a class="referencia" href="cerrar-incidente.html">Cerrar Incidente</a>
            <a class="referencia" href="consultar-incidente.html">Consultar Incidente</a>
            <a class="referencia" href="sugerencia-incidente.html">Sugerencia Incidente</a>
            <a class="referenciaElegida" href="visualizacion-rankings.html">Rankings</a>
            <a class="referencia" href="mi-cuenta.html">Mi cuenta</a>
        </div>
    </div>
    <div class="columna2" style="background: none">


        <form method="POST" action="/rankingsFiltrados">
        <div class="opciones">
            <label class="label" for="selectRanking">Selecciona un Ranking:</label>
            <select class="input" id="selectRanking" name="tipoDeRanking">
                <!-- Aquí se llenará la lista de rankings con JavaScript -->
            </select>
        </div>
        <div style="height: 20px"></div>
        <!--<div class="opciones">
            <label class="label">Fecha de ranking</label>
            <input class="date" type="date" id="fecha-ranking" name="fecha-ranking"/></input>
        </div>-->
        <div style="height: 20px"></div>
        <button class="boton" type="submit">Buscar Ranking</button>
        </form>


    </div>
</div>


<script>
    const selectRanking = document.getElementById('selectRanking');
    const rankings = ["", "PROMEDIO_DE_CIERRE", "MAYOR_IMPACTO", "MAYOR_CANT_INCIDENTES"];
    rankings.forEach(ranking => {
        const option = document.createElement('option');
        option.value = ranking;
        option.textContent = ranking;
        selectRanking.appendChild(option);
    });
</script>




</body>
</html>