@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #fff;
    margin: 0; /* Elimina márgenes predeterminados que pueda tener el body */
    padding: 0; /* Elimina relleno predeterminado que pueda tener el body */
}
.tituloPrincipal {
    color: #4300d2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
.boton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4300d2;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.boton:hover {
    background-color: #fff;
    color: #4300d2;
}
.contenedor{
    display: flex;
    background-color: #A780FF;
    justify-content: center;
    align-items: center;
}
.subcontenedor {
    flex: 1; /* Para que ambas columnas ocupen el mismo ancho */
    padding: 5px; /* Espacio entre las columnas */
    margin: 20px;
    margin-left: 350px;
    margin-right: 350px;
    background-color: #4300d2;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
.referencia {
    color: #fff; /* Cambia el color del enlace a azul */
    text-decoration: none; /* Elimina la subrayado predeterminado */
    font-size: 20px; /* Tamaño de fuente */
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px; /* Relleno para crear un botón */
    border: none; /* Borde del botón */
    background-color: #fa503f; /* Fondo blanco */
    border-radius: 20px; /* Bordes redondeados */
    display: inline-block; /* Hace que el enlace se comporte como un bloque en línea */
    width: 500px;
}
.referencia:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}
/* CSS para celulares igual cambiar hasta max 480px y hacer para tablets */
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .tituloPrincipal {
        font-size: 45px; /* Reduce el tamaño de fuente para dispositivos móviles */
    }

    .boton {
        position: static; /* Restaura la posición normal */
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 10px 0; /* Añade espacio entre el botón y el título */
        font-size: 15px;
    }

    .subcontenedor {
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .referencia {
        width: 80%;
        font-size: 18px;
    }

    .referencia {
        color: #fff;
        background-color: #fa503f;
    }
    .referencia:hover {
        background-color: #fff;
        color: #fa503f;
    }
}