@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.tituloPrincipal {
    color: #4300d2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
.subtitulo{
    color: #F5F5F5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #fff;
    margin: 0; /* Elimina márgenes predeterminados que pueda tener el body */
    padding: 0; /* Elimina relleno predeterminado que pueda tener el body */
}
.recuadro{
    background-color: #F99417;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 15px;

}
.contenedor {
    display: flex;
    height: 638px;
    /*background-color: #A780FF;*/
}

.columna {
    flex: 1; /* Para que ambas columnas ocupen el mismo ancho */
    padding: 10px; /* Espacio entre las columnas */
    margin: 50px;
    background-color: rgba(67, 0, 210, 0.51);
    border-radius: 20px;
}
.formulario input,
.formulario button {
    display: block; /* Muestra los elementos como bloques, uno debajo del otro */
    margin: 10px 0; /* Agrega un poco de espacio entre los elementos */
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botones{
    align-items: center;
    flex: 1;
    text-align: right;
}

.boton{
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fa503f;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.boton:hover {
    background-color: #fff;
    color: #fa503f;
}
.input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;
    width: 75%;
}
.subcolumna button{
    margin: 15px;
}
.subcolumna {
    display: flex;
    justify-content: space-between;
}
.mi-footer {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: flex;
    justify-content: center; /* Centra horizontalmente en el eje X */
    align-items: center; /* Centra verticalmente en el eje Y */
}
.mi-footer img {
    display: none;
    /* Estilos opcionales para la imagen si es necesario */
}

@media screen and (max-width:600px){

    .tituloPrincipal {
        color: #4300d2;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 36px; /* Tamaño de fuente ajustado para dispositivos móviles */
    }

    .subtitulo {
        color: #F5F5F5;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px; /* Tamaño de fuente ajustado para dispositivos móviles */
    }
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tituloMonitoreo{
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
    }
    body {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    .recuadro {
        background-color: #F99417;
        border-radius: 20px;
        margin: 20px 10px 30px 15px;
    }

    .contenedor {
        display: flex;
        flex-direction: column; /* Cambia la disposición a una sola columna en dispositivos móviles */
        background-color: #A780FF;
        height: 400px;
    }

    .columna {
        flex: 1;
        padding: 10px;
        margin: 10px 20px; /* Espaciado reducido para dispositivos móviles */
        background-color: rgba(67, 0, 210, 0.51);
        border-radius: 20px;
    }


    .boton {
        margin: 10px;
        margin-top: 30px;
        border: none;
        border-radius: 20px;
        background-color: #fa503f;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        width: 80%; /* Ajusta el ancho al 100% para dispositivos móviles */
    }

    .boton:hover {
        background-color: #fff;
        color: #fa503f;
    }

    .boton-violeta{
        margin: 10px;
        border: none;
        border-radius: 20px;
        background-color: #4300d2;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        width: 100%;
    }
    .boton-violeta:hover{
        background-color: #fff;
        color: #4300d2;
    }

    .input {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 8px;
        background-color: #fff;
        width: 100%; /* Ajusta el ancho al 100% para dispositivos móviles */
    }

    .subcolumna button {
        margin: 15px;
    }

    .subcolumna {
        display: flex;
        flex-direction: column; /* Cambia la disposición a una sola columna en dispositivos móviles */
        align-items: center; /* Centra los elementos en dispositivos móviles */
    }
    .mi-footer img {
        display: block;
    }

    /* Esconder la imagen del header */
    header img {
        display: none;
    }

    .botones {

        text-align: center;
    }

}


